.page-cadastrar {

    display: flex;
    font: 600 18px 'Inter';

    .container 
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .conteudo
    {
        display: flex;
        align-items: flex-start;
        
        padding: 20px 60px;
        background-color: #F5F6FA;
        flex-grow: 1;
    }

    .conteudo > section 
    {
        flex-grow: 1;
    }

    label 
    {
        width: 120px;
    }

    .form-colums 
    {
        display: flex;
        margin-left: 30px;
        margin-top: 80px;
    }

    .form-colums > div:nth-child(1) 
    {
        margin-right: 50px;
    }

    .btnSalvar 
    {
        flex-grow: 1;
        text-align: right;
    }
    
}